<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>ApplyStudy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
<!--    <link rel="stylesheet" th:href="@{/assets/css/common.css}">-->
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="/ckeditor5/style.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.css" crossorigin>
</head>
<body style="background: #fcfeff; display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-top: 50px;">

<div class="" style="width: 500px;height: 500px; padding: 16px;">
    <form th:action th:method="POST" th:object="${application}" style="display: flex; flex-direction: column; gap: 10px;">
        <input class="form-control" type="text" th:field="*{title}" placeholder="신청서 제목을 입력해주세요.">
        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor">
                <div id="editor">
                    <p> 스터디에 참여할 수 있게 본인을 소개해보세요! </p>
                    <li> 개발 경력: </li>
                    <li> 사용가능 기술: </li>
                    <li> 스터디 참여 일정: </li>
                </div>
            </div>
        </div>
        <input type="hidden" th:field="*{description}">
        <button type="button" class="btn btn-outline-primary" th:onclick="submitForm()" style="width: 150px; align-self: center;">신청하기</button>
    </form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.uploadUrl = /*[[${@environment.getProperty('download.path')}]]*/ 'http://localhost:8080/image/download/';
    /*]]>*/

    function submitForm() {
        if (!editor) {
            alert('에디터 오류');
            return false;
        }

        const data = editor.getData().trim();
        if (data === '') {
            alert('에디터에 입력된 값이 없습니다.');
            return false;
        }

        document.getElementById('description').value = data;

        const form = document.querySelector('form');
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert("신청하였습니다.");
                    window.opener.location.reload();
                    window.close();
                } else {
                    alert('신청 처리 중 오류가 발생했습니다.');
                }
            })
            .catch(error => {
                console.error('요청 오류:', error);
                alert('신청 처리 중 오류가 발생했습니다.');
            });

        return false;
    }
</script>

<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/translations/ko.umd.js" crossorigin></script>
<script src="/ckeditor5/main.js"></script>
</body>
</html>