<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>CreateStudy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="/ckeditor5/style.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.css" crossorigin>
</head>
<body>
<div th:replace="content :: headerNav"></div>

<div class="container" style="width: 1500px;height: 1250px;">
    <div class="row justify-content-between" style="width: 100%;height: 100%;padding-top: 30px;">
        <div class="col-md-2 d-flex flex-column" style="display: flex;">
            <div th:replace="content :: leftBar"></div>
        </div>
        <div class="col-md-7" style="padding: 0px;margin-right: 6px;margin-left: 6px;">
            <div class="" style="width: 100%; min-height: 650px; padding: 14px; box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px; border-radius: 10px; background: white;">
                <form th:action th:method="POST" th:object="${study}" th:onsubmit="return submitForm()">
                    <input class="form-control" type="text" th:field="*{title}" placeholder="스터디 핵심 내용을 작성해보세요." style="margin-bottom: 16px;">
                    <div class="editor-container editor-container_classic-editor" id="editor-container">
                        <div class="editor-container__editor">
                            <div id="editor"></div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{description}">
                    <div style="width: 100%; display: flex; justify-content: flex-end; gap: 12px; margin-top: 16px;">
                        <button type="button" class="btn btn-outline-secondary" th:onclick="|window.history.back()|" style="width: 60px; height: 40px; background: #f1f3f5; color: #000000; font-size: 14px; font-weight: 500; border: none;">취소</button>
                        <button type="submit" class="btn btn-outline-primary" style="width: 60px; height: 40px; background: #3f9dff; color: #ffffff; font-size: 14px; font-weight: 500; border: none;">등록</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0px;">
            <div th:replace="content :: rightBar(noticeList = ${noticeList}, chatRoomList = ${chatRoomList})"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.uploadUrl = /*[[${@environment.getProperty('download.path')}]]*/ 'http://localhost:8080/image/download/';
    /*]]>*/

    function submitForm() {
        if (!editor) {
            alert('에디터 오류');
        } else {
            const data = editor.getData().trim();
            if (data === '') {
                alert('에디터에 입력된 값이 없습니다.');
            } else {
                // alert(data);
                document.getElementById('description').value = editor.getData();
                return true;
            }
        }
        return false;
    }
</script>

<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/translations/ko.umd.js" crossorigin></script>
<script src="/ckeditor5/main.js"></script>
</body>
</html>