<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>StudyApplicationList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
<!--    <link rel="stylesheet" th:href="@{/assets/css/common.css}">-->
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body  style="background: #fcfeff; display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-top: 30px;">
<div class="container" style="width: 1200px;height: 640px;">
    <div class="row" style="width: 100%;height: 100%;display: flex; box-shadow: 1px 2px 8px rgba(110,122,135,0.31);border-radius: 10px;">
        <div class="col-md-3" style="height: 100%;padding: 0px;overflow-y: auto;border-right: 0.5px solid rgb(155,159,163);">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="height: 70px;line-height: 50px;font-size: 18px; border-bottom: 0.5px solid rgb(155,159,163) ;"
                    th:each="studyApplication, stat : ${studyApplicationPage}"
                    th:text="${studyApplication.title}"
                    th:onclick="showDetails([[${studyApplication.id}]])">
                    study application
                </li>
            </ul>
        </div>
        <div class="col-md-9" style="height: 100%;">
            <div id="applicationPlaceholder" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 20px; color: #aaa;">가입 신청서를 선택해주세요.</p>
            </div>
            <div id="applicationDetail" style="width: 100%;height: 100%; display: none;">
                <div style="width: 100%;height: 120px;">
                    <input type="hidden" id="applicationId">
                    <div style="width: 100%;height: 60px;padding: 0px;">
                        <p id="title" style="width: 100%;height: 100%;margin: 0px;line-height: 60px;margin-right: 0px;margin-left: 0px;padding-left: 12px;padding-right: 12px;font-weight: bold;font-size: 19px;">제목</p>
                    </div>
                    <div style="width: 100%;height: 60px;padding: 0px;border-bottom: 0.5px solid rgb(208,210,214) ;">
                        <p id="writer" style="width: 100%;height: 50%;margin: 0px;line-height: 30px;margin-right: 0px;margin-left: 0px;padding-left: 12px;padding-right: 12px;font-weight: bold;font-size: 17px;">작성자</p>
                        <div style="height: 50%;width: 100%;display: flex;">
                            <p style="width: 100%;height: 100%;margin: 0px;line-height: 30px;margin-right: 0px;margin-left: 0px;font-size: 15px;">
                                <span id="createDate" style="padding-right: 12px;padding-left: 12px;">작성일</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;height: 430px;">
                    <p id="description" style="width: 100%;max-height: 100%; height: 100%; overflow-y: auto;margin: 0px;line-height: 60px;margin-right: 0px;margin-left: 0px;padding-left: 12px;padding-right: 12px;font-weight: bold;font-size: 19px;">내용</p>
                </div>
                <div class="justify-content-center" style="width: 100%;height: 60px;display: flex; flex-direction: row; align-items: center; gap:16px;">
                    <button class="btn btn-outline-primary" type="button" th:text="승인" th:onclick="approve()" style="width: 100px;height: 40px;">Button 1</button>
                    <button class="btn btn-outline-danger" type="button" th:text="거절" style="width: 100px;height: 40px;">Button 1</button>
                    <button class="btn btn-outline-secondary" type="button" th:text="채팅" style="width: 100px;height: 40px;">Button 1</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showDetails(id) {
        fetch(`/studyApplication/${id}`)
            .then(response => {
                if (!response.ok) {
                    alert("요청 중 에러가 발생하였습니다.");
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('applicationPlaceholder').style.display = 'none';
                document.getElementById('applicationDetail').style.display = 'block';

                document.getElementById('applicationId').value = data.id;

                document.getElementById("title").innerText = data.title;
                document.getElementById("writer").innerText = data.username;
                document.getElementById("createDate").innerText = '신청일 ' + data.createDate;
                document.getElementById("description").innerHTML = data.description;
            })
            .catch(error => {
                alert(error);
            });
    }

    function approve() {
        var applicationId = document.getElementById('applicationId').value;

        // alert(applicationId);
        fetch(`/studyApplication/approve/${applicationId}`, {
            method: 'POST'
        })
            .then(response => {
                if (response.redirected) {
                    alert("승인되었습니다.");
                    window.location.href = response.url;
                }
                else {
                    throw new Error('승인 요청 실패');
                }
            })
            .catch(error => {
                alert("승인 에러");
            });
    }
</script>
</body>
</html>