<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>StudyList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .recruiting {
            background-color: #10b36e;
            color: #ffffff;
        }
        .closed {
            background-color: #CCD2D8FF;
        }

        .pagination .page-item .page-link {
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="content :: headerNav"></div>
<div class="container" style="width: 1500px;height: 1250px;">
    <div class="row justify-content-between" style="width: 100%;height: 100%;padding-top: 30px;">
        <div class="col-md-2 d-flex flex-column" style="display: flex;">
            <div th:replace="content :: leftBar"></div>
        </div>
        <div class="col-md-7" style="padding: 0px;margin-right: 6px;margin-left: 6px;">
            <div style="width: 100%;height: 250px;margin-bottom: 30px;">
                <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px;border-radius: 10px;width: 100%;height: 100%; border: none;">
                    <div class="card-body" style="padding: 0px;">
                        <h4 class="card-title" style="margin-bottom: 2px;font-size: 18px;font-weight: 600;border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);padding: 8px;">인기글</h4>
                        <div class="card-body" style="padding: 0px;">
                            <ul class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" th:each="bestStudy, stat : ${bestStudyPage}" th:if="${stat.index} < 5" th:text="${bestStudy.title}" th:href="@{/study/{studyId}(studyId=${bestStudy.id})}">Item 1</a>
                                <li class="list-group-item border-0"
                                    th:if="${bestStudyPage.getNumberOfElements() < 5}"
                                    th:each="i : ${#numbers.sequence(1, 5 - bestStudyPage.getNumberOfElements())}">
                                    &nbsp;
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="min-height: 200px; background-color: #ffffff; box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px; border-radius: 10px; padding: 0; margin-bottom: 30px; padding-bottom: 8px;">
                <div class="card" style=" width: 100%; border: none;">
                    <div class="card-body" style="padding: 0;">
                        <h4 class="card-title" style="margin-bottom: 2px; font-size: 18px; font-weight: 600; border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); padding: 8px;">
                            <a th:href="@{/study/studyList}" class="d-block text-decoration-none text-dark">스터디</a>
                        </h4>
                        <div class="card-body" style="padding: 0;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action"
                                    th:each="study, stat : ${studyPage}"
                                    th:if="${stat.index} < 10"
                                    th:onclick="|location.href='@{/study/{studyId}(studyId=${study.id})}'|"
                                    style="height: 60px; padding: 0;">
                                    <div class="d-flex flex-lg-row mx-2" style="height: 100%;">
                                        <div style="width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <span th:text="*{study.status} == 'RECRUITING' ? '모집중' : '모집완료'"
                                                  th:classappend="*{study.status} == 'RECRUITING' ? ' recruiting' : ' closed'"
                                                  style="display: inline-block; min-width: 50px; height: 25px; font-size: 11px; font-weight: 500; line-height: 25px; border-radius: 13px; text-align: center;">
                                                status
                                            </span>
                                        </div>
                                        <div class="py-4 py-lg-0 px-lg-2" style="flex-grow: 1;">
                                            <h6 class="mb-0" style="font-weight: 500; line-height: 30px;" th:text="*{study.title}">title</h6>
                                            <div style="height: 40px; display: flex; flex-direction: row; justify-content: flex-start; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <div style="min-width: 50px;">
                                                    <p style="font-size: 13px; line-height: 30px; margin: 0; font-weight: 300;" th:text="*{study.writerName}">writer</p>
                                                </div>
                                                <div style="min-width: 50px;">
                                                    <p style="font-size: 13px; line-height: 30px; margin: 0; font-weight: 300;" th:text="*{study.bumpUpDate}">bumpUp date</p>
                                                </div>
                                                <div style="min-width: 50px;">
                                                    <p style="font-size: 13px; line-height: 30px; margin: 0; font-weight: 300;" th:text="*{study.views}">views</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0"
                                    th:if="${studyPage.getNumberOfElements() < 10}"
                                    th:each="i : ${#numbers.sequence(1, 10 - studyPage.getNumberOfElements())}"
                                    style="height: 60px; padding: 0;">&nbsp;
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column" style="width: 100%;margin-bottom: 30px;min-width: 100%;min-height: 100px;display: flex;">
                <div class="justify-content-between" style="min-width: 300px;display: flex;">
                    <form class="form-inline d-flex justify-content-center" id="searchBoardForm" method="get" th:action>
                        <div style="min-height: 40px;width: 400px;display: flex;">
                            <select class="form-select" name="searchType" style="min-height: 100%;min-width: 100px;width: 100px;">
                                <option value="TITLE" th:selected="${param.searchType == null or param.searchType[0] == 'TITLE'}">제목</option>
                                <option value="WRITER" th:selected="${param.searchType != null and param.searchType[0] == 'WRITER'}">작성자</option>
                                <option value="CONTENT" th:selected="${param.searchType != null and param.searchType[0] == 'CONTENT'}">내용</option>
                            </select>
                            <input class="form-control" type="search" name="searchValue" th:value="${param.searchValue}" style="min-width: 260px;min-height: 100%;padding: 0px;">
                            <button class="btn btn-outline-primary" type="submit" style="min-width: 80px;min-height: 100%;padding: 0px;background-color: #3f9dff; color: #ffffff;">검색</button>
                        </div>
                        <div style="min-width: 80px;" sec:authorize="isAuthenticated()">
                            <button class="btn btn-outline-primary" type="button" th:onclick="|location.href='@{/study/create}'|" style="min-width: 100%;min-height: 100%; background-color: #6dbc74; color: #ffffff; border: none; border-radius: 10px;">스터디 생성</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:if="${studyPage.number != 0}">
                                <a class="page-link" aria-label="First"
                                   th:href="@{/study/studyList(page=0, searchType=${searchType}, searchValue=${searchValue})}">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item" th:if="${studyPage.number != 0}">
                                <a class="page-link" aria-label="Previous"
                                   th:href="@{/study/studyList(page=${studyPage.number - 1}, searchType=${searchType}, searchValue=${searchValue})}">
                                    &lt;
                                </a>
                            </li>
                            <th:block th:if="${studyPage.totalElements != 0}"
                                      th:each="i : ${#numbers.sequence((studyPage.number >= 2) ? (studyPage.number - 2) : 0, (studyPage.totalPages > (studyPage.number + 2)) ? (studyPage.number + 2) : (studyPage.totalPages - 1))}">
                                <li class="page-item" th:classappend="${i == studyPage.number} ? ' active'">
                                    <a class="page-link"
                                       th:href="@{/study/studyList(page=${i}, searchType=${searchType}, searchValue=${searchValue})}"
                                       th:text="${i + 1}">
                                        1
                                    </a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${studyPage.number < studyPage.totalPages - 1}">
                                <a class="page-link" aria-label="Next"
                                   th:href="@{/study/studyList(page=${studyPage.number + 1}, searchType=${searchType}, searchValue=${searchValue})}">
                                    &gt;
                                </a>
                            </li>
                            <li class="page-item" th:if="${studyPage.number < studyPage.totalPages - 1}">
                                <a class="page-link" aria-label="Last"
                                   th:href="@{/study/studyList(page=${studyPage.totalPages - 1}, searchType=${searchType}, searchValue=${searchValue})}">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0px;">
            <div th:replace="content :: rightBar(noticeList = ${noticeList}, chatRoomList = ${chatRoomList})"></div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>