<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Study</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .content-area img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<div th:replace="content :: headerNav"></div>

<div class="container" style="width: 1500px;height: 1250px;">
    <div class="row justify-content-between" style="width: 100%;height: 100%;padding-top: 30px;">
        <div class="col-md-2 d-flex flex-column" style="display: flex;">
            <div th:replace="content :: leftBar"></div>
        </div>
        <div class="col-md-7" style="padding: 0px;margin-right: 0px;margin-left: 0px;display: flex; flex-direction: column">
            <div style="width: 100%; height: 40px; margin-bottom: 16px;">
                <p th:onclick="|location.href='@{/study/studyList}'|" style="display: inline-block; max-width: 100%; height: 100%; line-height: 40px; font-weight: bold; font-size: 18px; cursor: pointer;">스터디</p>
            </div>
            <div style="width: 100%;min-height: 530px;margin-bottom: 30px;">
                <div class="card" th:object="${study}" style="box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px;border-radius: 10px;width: 100%;height: 100%;border: none;">
                    <div class="card-body" style="padding: 0px;">
                        <div style="width: 100%;height: 60px;padding: 0px;">
                            <p th:text="*{title}" style="width: 100%;height: 100%;margin: 0px;line-height: 60px;margin-right: 0px;margin-left: 0px;padding-left: 12px;padding-right: 12px;font-weight: bold;font-size: 19px;">제목</p>
                        </div>
                        <div style="width: 100%;height: 90px;padding: 0px;border-bottom: 0.1px solid rgba(0, 0, 0, 0.2) ;">
                            <p th:text="*{writerName}" style="width: 100%;height: 30%;margin: 0px;line-height: 30px;margin-right: 0px;margin-left: 0px;padding-left: 12px;padding-right: 12px;font-weight: bold;font-size: 17px;">작성자</p>
                            <div style="height: 30%;width: 100%;display: flex;">
                                <p style="width: 100%;height: 100%;margin: 0px;line-height: 30px;margin-right: 0px;margin-left: 0px;font-size: 15px;">
                                    <span th:text="'끌어올림 ' + *{bumpUpDate}" style="padding-right: 12px;padding-left: 12px;">작성일</span>
                                    <span th:text="'조회수 ' + *{views}" style="padding-right: 12px;padding-left: 12px;">조회수</span>
                                </p>
                            </div>
                            <div style="height: 50%;width: 100%;display: flex;">
                                <p style="width: 100%;height: 100%;margin: 0px;line-height: 30px;margin-right: 0px;margin-left: 0px;font-size: 15px;">
                                    <span th:text="'멤버 ' " style="padding-right: 12px;padding-left: 12px;">작성일</span>
                                    <span th:each="member, iterStat : ${study.studyMemberList}"
                                          th:text="${member.memberName + (iterStat.last ? '' : ', ')}"></span>
                                </p>
                            </div>
                        </div>
                        <div class="content-area" style="width: 100%;padding: 12px;min-height: 350px;">
                            <p th:utext="*{description}">내용</p>
                        </div>
                        <div class="justify-content-end" style="width: 100%;height: 60px;display: flex;align-items: center;gap: 10px;padding-right: 12px;" th:if="*{isWriter()}">
                            <button class="btn btn-outline-secondary" type="button" th:text="수정" th:onclick="|location.href='@{/study/modify/{studyId}(studyId=*{id})}'|" style="width: 60px;height: 40px; font-size: 14px; font-weight: 400; border: none; background-color: #dce0e4; color: black;">수정</button>
                            <button class="btn btn-outline-secondary" type="button" th:text="삭제" th:onclick="confirmDelete([[*{id}]])" style="width: 60px;height: 40px; font-size: 14px; font-weight: 400; border: none; background-color: #dce0e4; color: black;">삭제</button>
                        </div>
                        <div class="justify-content-center" style="width: 100%;height: 60px;display: flex;align-items: center;">
                            <button th:data-study-id="*{id}"
                                    th:class="*{isFavorite()} ? 'btn btn-outline-danger' : 'btn btn-outline-secondary'"
                                    type="button"
                                    onclick="favorite(this)"
                                    style="width: 100px; height: 40px;">
                                <img th:src="*{favorite} ? '/imgs/heart.png' : '/imgs/blank_heart.png'"
                                     style="width: 24px; height: 24px;">
                                <span th:text="*{favorites}">0</span>
                            </button>
                        </div>
                        <div class="justify-content-center align-items-center" th:if="*{status == 'RECRUITING'}" style="height: 60px;display: flex;">
                            <button class="btn btn-outline-primary" type="button" sec:authorize="isAuthenticated()" th:onclick="|openApplyPopup('@{/study/apply/{studyId}(studyId=*{id})}')|" style="border: none; background-color: #3f9cfd; color: white;">스터디 가입 신청</button>
                        </div>
                        <div class="justify-content-end" style="width: 100%;height: 60px;display: flex;align-items: center;gap: 10px;padding-right: 12px;" th:if="*{isMember()}">
                            <button class="btn btn-outline-danger" type="button" th:text="탈퇴" th:onclick="exitStudy([[*{id}]])" style="width: 60px;height: 40px; border: none; background-color: #fd7878; color: white;">탈퇴</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;min-height: 100px;margin-bottom: 30px;">
                <div class="card" style="box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px;border-radius: 10px;width: 100%;height: 100%;border: none;">
                    <div class="card-body" style="padding: 0px;">
                        <h4 class="card-title" style="margin-bottom: 2px;font-size: 16px;font-weight: 700;border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);padding: 16px;">댓글</h4>
                        <div class="card-body" style="padding: 0px;" th:object="${study}">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:each="comment, stat : ${study.commentPage}" th:if="${stat.index} < 10"style="min-height: 60px;">
                                    <input type="hidden" class="comment-id" th:value="${comment.id}">
                                    <div class="d-flex justify-content-between align-items-end" style="">
                                        <div>
                                            <span th:text="${comment.writerName}" style="margin-right: 10px; font-weight: bold;">작성자</span>
                                            <span th:text="${comment.createDate}" style="font-size: 14px;">작성일</span>
                                        </div>
                                        <div sec:authorize="isAuthenticated()" th:if="${(#authentication.name == comment.writerUsername) && (!comment.isDeleted())}">
                                            <button type="button" class="btn btn-outline-secondary btn-sm edit-button" style="margin-right: 5px;">수정</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" th:onclick="commentDelete([[${comment.id}]])">삭제</button>
                                        </div>
                                    </div>
                                    <div class="comment-display">
                                        <p th:text="${comment.text}">댓글 내용</p>
                                    </div>
                                    <div class="comment-edit" style="display: none;">
                                        <textarea class="form-control edit-textarea" rows="3" th:text="${comment.text}" style="resize: none; width: 100%; margin: 6px;"></textarea>
                                        <div class="d-flex justify-content-end" style="margin-top: 5px;">
                                            <button type="button" class="btn btn-primary btn-sm save-button" style="margin-right: 5px;">저장</button>
                                            <button type="button" class="btn btn-secondary btn-sm cancel-button">취소</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div sec:authorize="isAuthenticated()" style="width: 100%;height: 60px;padding: 0px; display: flex; flex-direction: row; align-items: center;">
                            <form th:action="@{/post/{id}/createComment(id=${study.id})}" th:method="POST" style="display: flex; align-items: center; width: 100%;">
                                <input class="form-control" type="text" id="text" name="text" placeholder="댓글을 작성해보세요." style="flex: 1; margin-right: 10px; margin-left: 10px;">
                                <input type="hidden" name="id"  th:value="${study.id}">
                                <button type="submit" class="btn btn-outline-primary" style="width: 100px; margin-right: 10px; border: none; background-color: #3f9cfd; color: white;">저장</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0px;">
            <div th:object="${study}" style="width: 100%;height: 600px;display: flex;flex-direction: column;padding: 16px; gap: 16px;">
                <button type="button" id="studyStatusButton" style="padding-left: 0px; padding-right: 0px; width: 100px;height: 40px; font-size: 13px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;background-color: #ffffff;"
                        th:class="*{status == 'RECRUITING'} ? 'btn btn-outline-primary' : 'btn btn-outline-secondary'"
                        th:onclick="changeStudyStatus([[*{id}]])">
                    <span id="studyStatus" th:text="*{status == 'RECRUITING'} ? '모집중' : '모집완료'"/>
                </button>
                <button class="btn btn-outline-primary" type="button" th:if="*{isWriter()}" th:onclick="|openApplicationListPopup('@{/study/{studyId}/applicationList(studyId=*{id})}')|" style="width: 100px;height: 40px; font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-color: #ffffff;">신청서 목록</button>
                <button class="btn btn-outline-primary" type="button" th:if="*{isWriter()}" th:onclick="|location.href='@{/project/create/{studyId}(studyId=*{id})}'|" style="padding-left: 0px; padding-right: 0px; width: 100px;height: 40px; font-size: 13px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;background-color: #ffffff;">프로젝트 생성</button>
                <button type="button" id="bumpUpButton" style="padding-left: 0px; padding-right: 0px; width: 100px;height: 40px; font-size: 13px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;background-color: #ffffff;"
                        class="btn btn-outline-primary"
                        th:onclick="bumpUp([[*{id}]])"
                        th:if="*{isWriter()}">
                    끌어 올리기
                </button>
                <button class="btn btn-outline-primary" type="button" th:if="*{isWriter()}" th:onclick="createChatRoom([[*{id}]])" style="padding-left: 0px; padding-right: 0px; width: 100px;height: 40px; font-size: 13px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;background-color: #ffffff;">채팅방 개설</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.uploadUrl = /*[[${@environment.getProperty('download.path')}]]*/ 'http://localhost:8080/image/download/';
    /*]]>*/

    function openApplyPopup(url) {
        window.open(url, 'applyPopup', 'width=600,height=800');
    }

    function openApplicationListPopup(url) {
        window.open(url, 'applicationListPopup', 'width=1200,height=700');
    }

    function confirmDelete(studyId) {
        // alert(studyId);
        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/study/delete/${studyId}`, {
                method: "POST"
            }).then((res) => {
                if (res.redirected) {
                    window.location.href = res.url;
                } else {
                    alert("잘못된 요청입니다.");
                }
            }).catch((err) => {
                alert("잘못된 요청입니다.");
            })
        }
    }

    function exitStudy(studyId) {
        if (confirm("탈퇴하시겠습니까?")) {
            fetch(`/study/exit/${studyId}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.redirected) {
                        alert("탈퇴하였습니다.");
                        window.location.href = response.url;
                    } else {
                        throw new Error('탈퇴 요청 실패');
                    }
                })
                .catch(error => {
                    alert("탈퇴 에러");
                });
        }
    }

    function changeStudyStatus(studyId) {
        fetch(`/study/changeStatus/${studyId}`, {
            method: 'POST'
        }).then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                alert("잘못된 요청입니다.");
            }
        }).catch(error => {
            console.log(error);
            alert("오류가 발생하였습니다.");
        });
    }

    function bumpUp(studyId) {
        if (confirm("끌어 올리시겠습니까?")) {
            fetch(`/study/bumpUp/${studyId}`, {
                method: "POST"
            }).then((res) => {
                if (res.redirected) {
                    window.location.href = res.url;
                } else {
                    alert("잘못된 요청입니다.");
                }
            }).catch((err) => {
                alert("잘못된 요청입니다.");
            })
        }
    }

    function createChatRoom(studyId) {
        if (confirm("채팅방을 개설하시겠습니까?")) {
            fetch(`/study/createChatRoom/${studyId}`, {
                method: "POST"
            }).then((res) => {
                if (res.redirected) {
                    window.location.href = res.url;
                } else {
                    alert("이미 채팅방이 존재합니다.");
                }
            }).catch((err) => {
                alert(err.message());
            })
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.edit-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var commentItem = this.closest('li');
                commentItem.querySelector('.comment-display').style.display = 'none';
                commentItem.querySelector('.comment-edit').style.display = 'block';
            });
        });

        document.querySelectorAll('.cancel-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var commentItem = this.closest('li');
                commentItem.querySelector('.comment-edit').style.display = 'none';
                commentItem.querySelector('.comment-display').style.display = 'block';
            });
        });

        document.querySelectorAll('.save-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var commentItem = this.closest('li');
                var newText = commentItem.querySelector('.edit-textarea').value;
                var commentId = commentItem.querySelector('.comment-id').value;

                fetch('/comment/modify/' + commentId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: newText })
                })
                    .then(function(response) {
                        if (response.redirected) {
                            window.location.href = response.url;
                        } else {
                            alert("잘못된 요청입니다.");
                        }
                    })
                    .then(function(data) {
                        commentItem.querySelector('.comment-display p').textContent = newText;
                        commentItem.querySelector('.comment-edit').style.display = 'none';
                        commentItem.querySelector('.comment-display').style.display = 'block';
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                        alert(error.message);
                    });
            });
        });
    });

    function commentDelete(commentId) {
        // alert(commentId);
        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/comment/delete/${commentId}`, {
                method: "POST"
            }).then((res) => {
                if (res.redirected) {
                    window.location.href = res.url;
                } else {
                    alert("잘못된 요청입니다.");
                }
            }).catch((err) => {
                alert("잘못된 요청입니다.");
            })
        }
    }

    function favorite(btn) {
        const studyId = btn.getAttribute('data-study-id');

        fetch('/favorite/' + studyId, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("로그인이 필요합니다. " + response.status);
                }
                return response.json();
            })
            .then(data => {
                if(data.favorite) {
                    btn.classList.remove('btn-outline-secondary');
                    btn.classList.add('btn-outline-danger');
                    btn.querySelector('img').src = '/imgs/heart.png';
                } else {
                    btn.classList.remove('btn-outline-danger');
                    btn.classList.add('btn-outline-secondary');
                    btn.querySelector('img').src = '/imgs/blank_heart.png';
                }
                btn.querySelector('span').textContent = data.favorites;
            })
            .catch(error => {
                console.error('좋아요 오류 발생:', error);
                alert('로그인이 필요합니다. ');
            });
    }
</script>

<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" crossorigin></script>
<script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/translations/ko.umd.js" crossorigin></script>
<script src="/ckeditor5/main.js"></script>
</body>
</html>