<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>TeamList</title>
</head>
<body>
<div th:object="${team}">
    <p th:text="*{teamName}">teamName</p>
    <p th:text="*{teamInfo}">teamInfo</p>
    <button th:if="*{isMember()}" th:onclick="'exitTeam(' + *{id} +')'">탈퇴</button>
    <button th:if="*{isAdmin()}" th:onclick="|location.href='@{/team/modify/{teamId}(teamId=*{id})}'|">수정</button>
    <button th:if="*{isAdmin()}" th:onclick="|location.href='@{/team/teaming/{teamId}(teamId=*{id})}'|">티밍 생성</button>
    <button th:if="*{isAdmin()}" th:onclick="|location.href='@{/team/applicationList/{teamId}(teamId=*{id})}'|">가입 신청서 확인</button>
    <button th:if="*{isAdmin()}" th:onclick="|location.href='@{/team/{teamId}/teamMemberList(teamId=*{id})}'|">멤버 관리</button>
</div>

<script>
    function exitTeam(teamId) {
        if (confirm("정말 탈퇴하시겠습니까?")) {
            fetch(`/team/${teamId}/exitTeam`, {
                method: "POST"
            }).then((res) => {
                if (res.redirected) {
                    window.location.href = res.url;
                } else {
                    alert("잘못된 요청입니다.");
                }
            }).catch((err) => {
                alert("잘못된 요청입니다.");
            })
        }
    }
</script>
</body>
</html>