<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .project-description img {
            display: none;
        }

        .custom-scroll::-webkit-scrollbar {
            width: 2px;
        }
        .custom-scroll::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        .custom-scroll::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 10px;
        }
    </style>
</head>

<body>
<div th:replace="content :: headerNav"></div>
<div class="container" style="width: 1500px;height: 1250px;">
    <div class="row justify-content-between" style="width: 100%;height: 100%;padding-top: 30px;">
        <div class="col-md-2 d-flex flex-column" style="display: flex;">
            <div th:replace="content :: leftBar"></div>
        </div>
        <div class="col-md-7" style="padding: 0px;margin-right: 6px;margin-left: 6px;">
            <div class="card" style="box-shadow: 0 0 5px rgba(110,122,135,0.25); border-radius: 10px; width: 750px; margin-bottom: 18px; border: none;">
                <div class="card-body p-0">
                    <h4 class="card-title mb-2" style="font-size: 18px; font-weight: 600; border-bottom: 0.1px solid #b4bbc3; padding: 8px;">
                        <a th:href="@{/project/projectList}" class="d-block text-decoration-none text-dark">프로젝트</a>
                    </h4>
                    <div class="d-flex flex-nowrap custom-scroll" style="overflow-x: auto; min-height: 280px; margin: 0; padding: 0;">
                        <div class="px-2" th:each="project, stat : ${projectPage}" th:if="${stat.index} < 6" style="min-width: 250px;">
                            <div class="card h-100 border-0" th:onclick="|location.href='@{/project/{id}(id=${project.id})}'|" style="cursor: pointer; padding: 8px;">
                                <img class="card-img-top w-100" style="height: 105px; object-fit: cover; border-radius: 15px;"
                                     th:src="@{${project.imgUrl == null ? 'https://cdn.bootstrapstudio.io/placeholders/1400x800.png' : project.imgUrl}}"
                                     alt="Project Image">
                                <div class="card-body w-100" style="padding: 2px;">
                                    <span class="card-title"
                                          th:text="${project.title}"
                                          style="font-size: 18px; font-weight:800; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                                      Project Title
                                    </span>
                                    <div class="d-flex" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 40px; border-bottom: 1px solid #c8c8c8;">
                                        <span class="" th:text="${project.subTitle}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">subTitle</span>
                                    </div>
                                    <div class="card-text" th:text="${project.writerName}" style="font-size: 15px;">Project Writer</div>
                                    <div class="card-text" th:text="${project.createDate}" style="font-size: 14px;">Create Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-between row mb-3" style="width: 750px;height: 340px;background: rgba(225,97,97,0);box-shadow: 0px 0px;border-radius: 10px;display: flex;margin-right: 0px;margin-left: 0px;">
                <div class="col-12" style="width: 360px;height: 100%;background: #dc9191;box-shadow: 0px 0px;border-radius: 10px;padding: 0px;">
                    <div class="card" style="border-bottom-style: none;box-shadow: 0px 0px 5px rgba(110,122,135,0.25);border-radius: 10px;width: 100%;height: 100%;border: none;">
                        <div class="card-body" style="padding: 0px;">
                            <h4 class="card-title"
                                style="margin-bottom: 2px;font-size: 16px;font-weight: 600; border-bottom: 0.5px solid #b4bbc3; padding: 8px;">
                                <a th:href="@{/study/studyList}" class="d-block text-decoration-none text-dark">
                                    스터디
                                </a>
                            </h4>
                            <div class="card-body" style="padding: 0px;">
                                <ul class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action" th:each="study, stat : ${studyPage}" th:if="${stat.index} < 7" th:text="${study.title}" th:href="@{/study/{studyId}(studyId=${study.id})}">Item 1</a>
                                    <li class="list-group-item border-0"
                                        th:if="${studyPage.getNumberOfElements() < 7}"
                                        th:each="i : ${#numbers.sequence(1, 7 - studyPage.getNumberOfElements())}"
                                        style="padding: 0;">&nbsp;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="width: 360px;height: 100%;background: #dc9191;box-shadow: 0px 0px;border-radius: 10px;padding: 0px;">
                    <div class="card" style="border-bottom-style: none;box-shadow: 0px 0px 5px rgba(110,122,135,0.25);border-radius: 10px;width: 100%;height: 100%;border: none;">
                        <div class="card-body" style="padding: 0px;">
                            <h4 class="card-title"
                            style="margin-bottom: 2px;font-size: 16px;font-weight: 600; border-bottom: 0.5px solid #b4bbc3; padding: 8px;">
                            <a th:href="@{/teaming/teamingList}" class="d-block text-decoration-none text-dark">
                                컨텐츠2
                            </a>
                        </h4>
                            <div class="card-body" style="padding: 0px;">
                                <ul class="list-group list-group-flush">
<!--                                    <a class="list-group-item list-group-item-action" th:each="teaming, stat : ${teamingPage}" th:if="${stat.index} < 6" th:text="${teaming.title}" th:href="@{/teaming/{teamingId}(teamingId=${teaming.teamingId})}">Item 1</a>-->
<!--                                    <li class="list-group-item border-0" th:each="i : ${#numbers.sequence(teamingPage.getNumberOfElements()+1, 6)}">&nbsp;</li>-->
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-between row mb-3" style="width: 750px;height: 350px;background: rgba(225,97,97,0);box-shadow: 0px 0px;border-radius: 10px;display: flex;margin-right: 0px;margin-left: 0px;">
                <div class="col-12" style="width: 100%;min-height: 250px;background: #dc9191;box-shadow: 0px 0px;border-radius: 10px;padding: 0px;">
                    <div class="card" style="border-bottom-style: none;box-shadow: 0px 0px 5px rgba(110,122,135,0.25);border-radius: 10px;width: 100%;height: 100%;border: none;">
                        <div class="card-body" style="padding: 0px;">
                            <h4 class="card-title"
                                style="margin-bottom: 2px;font-size: 18px;font-weight: 600; border-bottom: 0.5px solid #b4bbc3; padding: 8px;">
                                <a th:href="@{/teaming/teamingList}" class="d-block text-decoration-none text-dark">
                                    테스트
                                </a>
                            </h4>
                            <div class="card-body" style="padding: 0px;">
                                <ul class="list-group list-group-flush">
<!--                                    <a class="list-group-item list-group-item-action" th:each="teaming, stat : ${teamingPage}" th:if="${stat.index} < 10" th:text="${teaming.title}" th:href="@{/teaming/{teamingId}(teamingId=${teaming.teamingId})}">Item 1</a>-->
<!--                                    <li class="list-group-item border-0" th:each="i : ${#numbers.sequence(teamingPage.getNumberOfElements()+1, 10)}">&nbsp;</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding: 0px;">
            <div th:replace="content :: rightBar(noticeList = ${noticeList}, chatRoomList = ${chatRoomList})"></div>
        </div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js">

</script>
</body>
</html>